/* Denis */
*{
    margin: 0;
    padding: 0;
}

.spacer{
    width: 100%;
    position: relative;
    height: 1px;
    background-color: grey;
    margin: 5px 0 5px 0;
}

header a{
    color: gray;
    text-decoration: none;
    width: 106.6666px;
    text-align: center;
    display: block;
    font-size: 14px;
}


#banner {
    position: relative;
    transform: translate(-50%,0);
    left: 50%;
}

#catzen{
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 999999;
    display: none;
}

#catzen iframe{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
}

#menuContainer{
    position: relative;
    transform: translate(-50%,0);
    left: 50%;
    width: 960px;
    height: 30px;
    list-style-type: none; 
}
#menuContainer li{
    float: left;
    height: 30px;  
    line-height: 30px; 
    display: inline;
}
/* Damen */
article
{
    text-align: center;
    width:70%;
    margin-left:15%;
    margin-right: 15%;
}
article p
{
    font-size:20px;
    font-family: 'Lato', sans-serif;
}
article p.text
{
    text-align: left;
}
article p.chapter
{
    text-align:center;
    text-transform: uppercase;
    font-weight: 800;
}
article #print, #author
{
    font-size:20px;
    font-weight: 700;
}
article #title, #catalogue
{
    font-size:26px;
    font-family: "Freckle Face",cursive;
}
.noDecoration
{
    text-decoration: none;
    color:white;
}
article img
{
    margin-left: auto;
    margin-right: auto;
}
article a#print
{
    color:#000;
    cursor: pointer;
    text-decoration:none; 
}
article a#catalogue
{
    background-color:#ccc;
    padding:0px 20px 0px 25px;
    border-radius:5px;
}
article a#catalogue:hover
{
    background-color: firebrick;
    color:#fff;
}
article a
{
    color:#21759b;
}
article a:visited
{
    color:#21759b;
    text-decoration: none;
}
/* Baton */

footer
{
    color: #ffffff;
    font-size: 250%;
    text-align: center;
    background-color: #222;
    width: 100%;
    position: relative;
    height: 100px;
    line-height: 235%;
}
body
{
  font-family: 'Lato', sans-serif;    
}
