/* Denis */

/* Damen */

body
{
    text-align: center;
}
p
{
    font-size:25px;
}
p.test
{
    text-align: left;
}
p.chapter
{
    text-align:center;
    text-transform: uppercase;
    font-weight: 800;
}
/* Baton */